.acf-image-crop .crop-stage .crop-image{
	max-width:100%;
}
.acf-image-crop .crop-stage .crop-action{
	float:left;
	width:65%;
}
.acf-image-crop .crop-stage .crop-preview{
	float:right;
/* changed */
	width: 30%;
/* changed END */
}
/* added */
.acf-image-crop .crop-stage .crop-action h4,
.acf-image-crop .crop-stage .crop-preview h4{
	margin-top:0;
}
.acf-image-crop .error{
	margin-top: 20px !important;
}
/* added END */
.acf-image-crop .crop-stage .crop-preview .preview{
	width:100%;
}

.acf-image-crop .crop-stage .crop-preview .crop-controls{
	padding-top:20px;
	clear: both;
/* added */
	text-align: right;
/* added END */
}

.acf-image-crop .crop-section .crop-stage, .acf-image-crop.cropping .image-section, .acf-image-crop.cropping .init-crop-button{
	display:none;
}
.acf-image-crop.cropping .crop-stage {
	display:block;
	position:fixed;
	top:60px;
/* changed */
	width:880px;
/* changed END */
	left:50%;
	margin-left:-440px;
	height:auto;
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	padding: 25px;
/* changed */
	z-index: 11000;
/* changed END */

}
.acf-image-crop.cropping .has-image, .acf-image-crop.cropping .crop-section{
	width:100%;
}

.acf-image-crop .crop-stage.loading .crop-controls{
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity:0.2;
}

.button.init-crop-button{
	margin-top: 20px;
}
/* added */
.button.button-large.button-primary.perform-crop-button {
	margin-left:15px;
}
/* added END */
#acf-image-crop-overlay{
	position:fixed;
/* added */
	z-index: 10000;
/* added END */
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(0,0,0,0.8);
}